<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CARTIER ROYAL | LOGIN</title>
    <link rel="stylesheet" href="css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <style>

    </style>
  </head>

  <body>
    <div class="login-container">
      <h2>Login</h2>
      <form action="#" method="post">
        <% if (msg) { %>
        <p style="color: red"><%= msg %></p>
        <% } %>
        <input type="text" name="username" placeholder="Username" required />
        <div class="password-field">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            required
          />
          <i class="fas fa-eye" id="togglePassword"></i>
        </div>
        <input type="submit" value="Login" />
      </form>
      <div class="signup-link">
        Don't have an account? <a href="/register">Sign Up</a>
      </div>
    </div>

    <script>
      const togglePassword = document.getElementById("togglePassword");
      const password = document.getElementById("password");

      togglePassword.addEventListener("click", function () {
        const type =
          password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);
        this.classList.toggle("fa-eye-slash");
      });

      const toggleConfirmPassword = document.getElementById(
        "toggleConfirmPassword"
      );
      const confirmPassword = document.getElementById("confirmPassword");

      toggleConfirmPassword.addEventListener("click", function () {
        const type =
          confirmPassword.getAttribute("type") === "password"
            ? "text"
            : "password";
        confirmPassword.setAttribute("type", type);
        this.classList.toggle("fa-eye-slash");
      });
    </script>
  </body>
</html>
