<style>
    .navbar2 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #31363F;
        color: #fff;
        padding: 10px 0;
        border-bottom: #fff 2px solid;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 30px;
        
        }
    }
</style>

<div class="navbar">
    <div class="container">
        <div class="user-info">
            <span>Welcome, <%= req.session.username %></span>
        </div>
        <div class="nav-links">
            <a href="/home">Home</a>
            <a href="/stores">Stores</a>
            <% if (req.session.seller || req.session.admin) { %>
                <a href="/manage">Manage</a>
            <% } %>
            <% if (req.session.username) { %>    
                <a href="/cart">Cart</a>
                <a href="/profile">Profile</a>
                <a href="/logout">Logout</a>
            <% } else { %>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            <% } %>
        </div>
    </div>
</div>
<nav class="navbar2">
    <img src="/images/logo.jpg" alt="">
    <h2>CARTIER ROYAL</h2>
</nav>